*
!*.yaml
!*.jinja
!scenes
!packages
!custom_templates
!packages/appliance_power_monitoring
!packages/household
!packages/energy_management
!ui-panel
!.gitignore
config_ic3.yaml
device_tracker.yaml
secrets.yaml
known_devices.yaml
